__pycache__
*.pyc
*.so
*.pyd
*.dll
*.whl
.idea
.vscode
.pytest_cache
.ruff_cache/
.mypy_cache/
.coverage
*.egg-info/

ephemerals/

.venv/

target/
build/
dist/

rust/_native/.github/
rust/_native/uv.lock